:root {
  --brendColor: #1B1B1B;
  --brendColor-text: #3E3D52;
  --brend-title-font: 'Comfortaa';
  --brend-font: 'Open Sans', sans-serif;
}



.hero-page {
  border: 7px solid;
  border-color: var(--brendColor);
  text-align: center 
}

.hero {
padding: 100px 0 50px;
}

h1 {
  color: var(--brendColor);
  font-size: 40px;
  font-family: var(--brend-title-font);
 font-weight: bold;
}

h2 {
  color: var(--brendColor-text);
  font-size: 24px;
  font-family: var(--brend-font);
  font-weight: bold;
}

h3 {
  color: var(--brendColor-text);
  font-size: 20px;
  font-family: var(--brend-font);
}

p {
  color: var(--brendColor-text);
  font-size: 20px;
  font-family: var(--brend-font);
  text-align: left;
}

.btn-branding {
  background: var(--brendColor);
  color: azure;
  border-radius: 5px;
  margin: 50px 0;
}

.content__rotate:hover {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
  letter-spacing: 1px;
	text-align: center;
	width: 70px;
	height: 70px;
	transition: all 0.8s ease 0s;
  transform: rotate(-360deg);
}

@media (max-width: 768px) {
  h1 {
    font-size: 18px;
    text-align: center;
    color: azure; 
  }
  .hero-page {
    background: var(--brendColor);
    color: azure; 
    border: none;
  }

  h2, h3, p {
    color: azure; 
  }
}