:root {
  --brendColor: #1B1B1B;
  --brendColor-text: #3E3D52;
  --brend-title-font: 'Comfortaa';
  --brend-font: 'Open Sans', sans-serif;
  --brendColor-text-small: azure; 
}

.hero-page {
  border: 7px solid;
}

body {
  border-color: var(--brendColor);
  text-align: center 
}

.hero {
  padding: 100px 0 50px;
}

h1 {
  color: var(--brendColor);
  font-size: 40px;
  font-family: var(--brend-title-font);
  font-weight: bold;
}

h2 {
  color: var(--brendColor-text);
  font-size: 24px;
  font-family: var(--brend-font);
  font-weight: bold;
}

h3 {
  color: var(--brendColor-text);
  font-size: 20px;
  font-family: var(--brend-font);
}

p {
  color: var(--brendColor-text);
  font-size: 20px;
  font-family: var(--brend-font);
  text-align: left;
}

header {
  color: var(--brendColor-text);
  font-size: 25px;
  font-family: var(--brend-font);
}

.btn-branding {
  background: var(--brendColor);
  color: var(--brendColor-text-small);;
  border-radius: 5px;
  margin: 50px 0;
}
.content__rotate {
	width: 70px;
	height: 70px;
  background-image: url(images/logo.png);
  background-size: cover;
}


.content__rotate:hover {
	transition: all 0.8s ease 0s;
  transform: rotate(-360deg);
}

.connect-me{
  padding: 0 0 5px;
}

.star {
  text-align: left; 
  font-size: 140px;
}

.star:hover {
	transition: all 0.8s ease 0s;
  transform: rotate(-360deg);
}

.connect-me-rights {
  padding: 0 0 5px;
  text-align: right; 
}
.a:visited {
  color: var(--brendColor);
}

a {
  color: rgb(17, 17, 17);
}


@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    text-align: center;
    color: var(--brendColor-text-small);; 
  }
  .body {
    background: var(--brendColor);
    color: var(--brendColor-text-small);; 
    border: none;
  }

  h2, h3, p {
    color: var(--brendColor-text-small);; 
    font-size: 30px;
  }
  .content__rotate{
    background-image: url(images/logo-wh.png);
  }

  header {
    color: vvar(--brendColor-text-small);;
    font-size: 35px;
    font-family: var(--brend-font);
  }

  .btn-branding {
      font-size: 30px;
      background: var(--brendColor);
      color: var(--brendColor-text-small);
      border-radius: 5px;
      border-color: var(--brendColor-text-small);
      margin: 50px 0;
  }
}