:root {
  --brendColor: #1B1B1B;
  --brendColor-text: #3E3D52;
  --brend-title-font: 'Comfortaa';
  --brend-font: 'Open Sans', sans-serif;
  --brendColor-text-small: #FFFFFF; 
  --hover-color: #C00909;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container {
  width: 100%;
}

.hero-page {
  border: 7px solid;
  width: 100%;
  border-color: var(--brendColor);
  padding: 10px;
}

.home {
  color: var(--brendColor);
  font-size: 20px;
  font-family: var(--brend-title-font);  
}

body {
  background: var(--brendColor-text-small);
  text-align: center ; 
  padding: 10px;
}

.projects {
  background-color: rgb(244, 215, 178);
}

.send-request {
  color: var(--brendColor);
  font-size: 20px;
  font-family: var(--brend-title-font);
  font-weight: bold;
  text-align: center; 
}

.main-picture {
  position: relative;
	width: 100%;
	height: 100%;
  background-size: cover;
}

.hero {
  padding: 100px 0 50px;
}

h1 {
  color: var(--brendColor);
  font-size: 40px;
  font-family: var(--brend-title-font);
  font-weight: bold;
}

h2 {
  color: var(--brendColor-text);
  font-size: 24px;
  font-family: var(--brend-font);
  font-weight: bold;
}

h3 {
  color: var(--brendColor-text);
  font-size: 20px;
  font-family: var(--brend-font);
}

p {
  color: var(--brendColor-text);
  font-size: 20px;
  font-family: var(--brend-font);
  text-align: left;
}

header {
  color: var(--brendColor-text);
  font-size: 25px;
  font-family: var(--brend-font);
}

.btn-branding {
  background: var(--brendColor);
  color: var(--brendColor-text-small);;
  border-radius: 5px;
  margin: 0;
  font-size: 24px;
}

.btn-branding:hover {
  background: var(--hover-color);
  color: var(--brendColor-text-small);
  border-radius: 5px;
  margin: 0;
  font-size: 24px;
}

.btn-branding-app {
  background: var(--brendColor);
  color: var(--brendColor-text-small);;
  border-radius: 5px;
  margin: 0;
  font-size: 20px;
}

.btn-branding-app:hover {
  background: var(--hover-color);
  color: var(--brendColor-text-small);
  border-radius: 5px;
  margin: 0;
  font-size: 20px;
}

.content__rotate {
	width: 70px;
	height: 70px;
  background-image: url(images/logo.png);
  background-size: cover;
}

.content__rotate:hover {
	transition: all 0.8s ease 0s;
  transform: rotate(-360deg);
}

.foto {
  background-image: url(images/portraite-b.png);
  background-size: 550px;
  background-repeat: no-repeat;
}

.foto:hover {
  background-image: url(images/portraite.png);
  background-size: 550px;
  background-repeat: no-repeat;
  }

  .foto2 {
    background-image: url(images/foto2-b.png);
    background-size: 450px;
    height: 750px;
    background-repeat: no-repeat;
  }
  
  .foto2:hover {
    background-image: url(images/foto2.png);
    background-size: 450px;
    height: 750px;
    background-repeat: no-repeat;
    }  

.connect-me{
  padding: 0 0 5px;
}

.star {
  text-align: left; 
  font-size: 140px;
  text-decoration: none;
}

.star:hover {
	transition: all 0.8s ease 0s;
  transform: rotate(-360deg);
  text-decoration: none;
}

.connect-me-rights {
  padding: 0 0 5px;
  text-align: right; 
}

a {
  color: rgb(17, 17, 17);
}
 a:hover {
  color: var(--hover-color);
 }

 nav {
  padding: 20px 0;
  color: var(--brendColor);
  font-size: 20px;
  font-family: var(--brend-title-font);  
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--brendColor);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var (--hover-color);
}


@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    text-align: center;
    color: var(--brendColor-text-small);
  }
  body {
    background: var(--brendColor);
    color: var(--brendColor-text-small);
    border: none;
  }

  .projects {
    background: #977254;
    color: var(--brendColor-text-small);
    border: none;
  }
  
  h2, h3, p {
    color: var(--brendColor-text-small);
    font-size: 30px;
  }
 a .content__rotate{
    background-image: url(images/logo-wh.png);
  }

  header {
    color: vvar(--brendColor-text-small);
    font-size: 35px;
    font-family: var(--brend-font);
  }

  .btn-branding {
      font-size: 15px;
      background: var(--brendColor);
      color: var(--brendColor-text-small);
      border-radius: 5px;
      border-color: var(--brendColor-text-small);
      margin: 30px 0;
      border-color: #FFFFFF;
  }

  .btn-branding-app {
    background: var(--brendColor);
    color: var(--brendColor-text-small);;
    border-radius: 5px;
    border-color: #FFFFFF;
    margin: 0;
    font-size: 15px;
  }

  a {
    color: var(--brendColor-text-small);
  }

  .hero-page {
    border: none;
  }

  .send-request {
    color: var(--brendColor-text-small);
    font-size: 30px;
    font-family: var(--brend-title-font);
    font-weight: bold;
    text-align: center; 
  
  }

  nav {
    color: var(--brendColor-text-small);
    font-size: 15px;
    font-family: var(--brend-title-font);  
  }

  nav a {
    color: var(--brendColor-text-small);
    font-size: 15px;
    font-family: var(--brend-title-font);  
  }

  .home {
    color: var(--brendColor-text-small);
    font-size: 15px;
    font-family: var(--brend-title-font);  
  }
}